{% extends 'base.html' %}
{% block body %}
{% load static %}
    

  
  <main>
  
    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Your Events</h1>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-light">
        <section class="py-2 text-center container"> <h1 class="fw-light"></h1></section>
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for event in event %}
          <div class="col">
            <div class="card shadow-sm">
              <img class="bd-placeholder-img card-img-top" src="">
  
              <div class="card-body">
                <p class="card-text">Event Name :{{event.name}}</p>
                <p class="card-text">Event Description: {{event.desc}}</p>
                <p class="card-text">Event Venue: {{event.venue}}</p>
                <p class="card-text">Event Time: {{event.time}}</p>
                <p class="card-text">Ticket Price: {{event.price}}</p>
                <div class="d-flex justify-content-between align-items-center">
                </div>
              </div>
            </div>
          </div>
          {%endfor%}


        </div>
      </div>
    </div>
  
  </main>
  
 
  
  
{% endblock %}